
.dashboard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5rem 0;
    width: 100%;

    margin: 0 auto;
    

    &__title{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 2rem;
    }
}

input{
    border: none;
    border-bottom: 1px solid black;
    margin-bottom: 1rem;
    padding: .5rem 0rem;

    &:focus{outline: none;}
    &[type=text]{
        font-family: 'gt_alpin_regular';
        font-size: 1rem;
    }
}

button{
    display: block;
    background: black;
    color: white;
    padding: .25rem .5rem;
    border: none;
}

.private{
    width: inherit;
}