
@font-face {
  font-family: 'zarid_bold';
  src:    url('../../assets/fonts/Zarid-bold.otf') format("opentype");
}

@font-face {
  font-family: 'zarid_regular';
  src:    url('../../assets/fonts/Zarid-regular.otf') format("opentype");

}

@font-face {
  font-family: 'gt_alpin_bold';
  src:    url('../../assets/fonts/GT_Alpina_bold.otf') format("opentype");

}

@font-face {
  font-family: 'gt_alpin_regular';
  src:    url('../../assets/fonts/GT_Alpina_regular.otf') format("opentype");

}

.secondary-heading{
  font-family: 'gt_alpin_bold';
  font-size: 5rem;
  
  @include respond(sm) {font-size: 3.815rem}   
}

.tertiary-heading{
  font-family: 'gt_alpin_bold';
  font-size: 3rem;
  
  @include respond(sm) {font-size: 3.815rem}   
}

.small-heading{
  font-family: 'gt_alpin_regular';
  font-size: .8rem;
}

.regular-text{
  font-family: 'gt_alpin_regular';
  font-size: 1rem;
}

.bold-text{
  font-family: 'gt_alpin_bold';
  font-size: 1rem;
}