.page-selection{
  display: flex;
  flex-direction: row;
  width: 100vw;

  border-bottom: $line-weight solid black;

  &__item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    list-style: none;
    padding: 1rem 0;
    margin: 0 calc(#{$line-weight} / 2);
    &:first-child{margin-left: 0;}
    &:last-child{margin-right: none;}
    cursor: pointer;

    &--selected, &:hover{
      background-color: black;
      color: white;
      mix-blend-mode: multiply;
      margin: 0 calc(#{$line-weight} / 2);

      &--alt-color{
        //color: #d2c8e4;;
      }
    }
  }
}